* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
}
/* .body{
  height: 85%;
} */
header {
  /* background-color: rgba(0, 0, 0, 0.37); */
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(49, 49, 49);
  /* color: rgb(28, 28, 28); */
  padding: 10px 30px;
  font-family: 'Alfa Slab One', cursive;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.heading > h1 {
  font-size: 3em;
  font-weight: lighter;
}
.heading > h1 > i {
  padding: 0px 20px 0px 0px;
}
.data {
  font-size: 1.3em;
  display: flex;
  column-gap: 1em;
}
i {
  cursor: pointer;

  transform: translate(-50%, -50%);
}
#dark-mode-text {
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
form input {
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
  background: none;
  border: none;
  /* background-color: rgba(0, 0, 0, 0.562); */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  text-align: center;
  color: white;
}
input::placeholder {
  color: rgb(0, 0, 0);
}
form > button {
  background: none;
  border: none;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0.6em;
  transition: background-color 0.3s ease;
}

button:hover {
  /* background-color: #2a2a2a; */
  background-color: rgba(255, 255, 255, 0.217);
}

button:active {
  transform: translateY(2px);
  box-shadow: none;
}
#name {
  font-size: 1.3em;
  color: rgb(0, 0, 0);
  /* background: linear-gradient(to right, #ff8800, #ff0000); */
  /* background-color: rgba(0, 0, 0, 0.562); */
  background-color: rgba(255, 255, 255, 0.5);
  width: 34.6em;
  /* padding: 5px; */
  margin: auto;
  margin-top: 1em;
  border-radius: 10px 10px 0px 0px;
}
.temp {
  display: flex;
  justify-content: center;
  column-gap: 0.5em;
  font-size: 5em;
  font-weight: bold;
  color: rgb(3, 3, 3);
  margin-top: 0.2em;
  width: 9em;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
  /* background: linear-gradient(to right, #ff8800, #ff0000); */
  /* background-color: rgba(0, 0, 0, 0.562); */
  background-color: rgba(255, 255, 255, 0.5);


  /* padding: 50px; */
}
#name,
#celsius,
#frenhiet,
#otherInformation {
  text-align: center;
}
.otherInformation {
  display: flex;
  justify-content: center;
  column-gap: 2em;
  width: 30em;
  border-radius: 10px;
  margin: auto;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 2em;
  margin-top: 2em;
  /* background-color: rgba(0, 0, 0, 0.562); */
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2em;

}
#status {
  text-transform: capitalize;
}

/* css after function runs */
/* #celTemp, #freTemp{
  background-color: linear-gradient(to right, #ff8800, #ff0000);

} */
#cel {
  font-size: 0.5em;
}


